<!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <meta charset="UTF-8">
            <title>Add Data</title>
        </head>
        <body>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Populate DataBase</h1>
                    <p class="lead">Add to DataBase: Nations, Cities, Stadia or Teams</p>
                </div>
            </div>

            <div class="container">
                <form action="{% url 'add_nation' %}" method="post">
                    {% csrf_token %}
                    <h2>Add Nation</h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNation">Nation</label>
                            <input type="text" class="form-control" id="inputNation" name="inputNation">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Nation</button>
                </form>
                <hr class="dashed">
                <form action="{% url 'add_city' %}" method="post">
                    {% csrf_token %}
                    <h2>Add City</h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" name="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" name="inputState" class="form-control">
                                <option selected>Choose...</option>
                                {% for nation in nations %}
                                    <option value="{{nation.id}}">{{nation.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add City</button>
                </form>
                <hr class="dashed">
                <form action="{% url 'add_stadium' %}" method="post">
                    {% csrf_token %}
                    <h2>Add Stadium</h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputStadium">Stadium Name</label>
                            <input type="text" class="form-control" id="inputStadium" name="inputStadium">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLongitude">Stadium Longitude</label>
                            <input type="text" class="form-control" id="inputLongitude" name="inputLongitude">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLatitude">Stadium Latitude</label>
                            <input type="text" class="form-control" id="inputLatitude" name="inputLatitude">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCapacity">Stadium Capacity</label>
                            <input type="text" class="form-control" id="inputCapacity" name="inputCapacity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="stadiumCity">City</label>
                            <select id="stadiumCity" name="stadiumCity" class="form-control">
                                <option selected>Choose...</option>
                                {% for city in cities %}
                                    <option value="{{city.id}}">{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Nation</button>
                </form>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
    </html>