<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'add_data' %}">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add Data</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 jumbotron-title"><b>Stadiums List</b></h1>
            <p class="lead jumbotron-subtitle">Check Stadiums list or add new data clicking on top right button</p>
        </div>
    </div>

    <div class="container">
        {% if stadiums.stadiums_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stadium</th>
                        <th scope="col">City</th>
                        <th scope="col">Nation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stadium in stadiums.stadiums_list %}
                        <tr>
                            <th scope="row">{{ stadium.id }}</th>
                            <td>{{ stadium.name }}</td>
                            <td>{{ stadium.city.name }}</td>
                            <td>{{ stadium.city.nation.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <h5>total capacity: {{ total_capacity }}</h5>
                <h5>total capacity average: {{ total_capacity_average }}</h5>
            </div>
        {% else %}
            <div class="text-center text-big margin">
                No stadiums to show
            </div>

        {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>